body {
  background: #eee;

  .container {
    .ttl-ctr {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .btn-ctr {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        width: 150px;
      }
    }

    table {
      th, td {
        align-items: center;
        text-align: center;

        p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}
